body {
    background-image: url("cookie-stand/salmon1.png");
    height: 100%; 
    background-position: center; 
    background-repeat: repeat;
    
    background-size: cover;
    color: rgba(107,111, 105, 1);   
    width: 50%;
    height: 50%;
}