/* * {
    border: 1px solid black;
} */
body {
 
    background-image: url("whiteBackground.jpeg");
    opacity: .6;
    height: 100%; 
    background-position: center; 
    background-repeat: repeat;
    background-size: cover;
    color: rgb(59, 59, 59);   
    width: 100%;
    height: 100%;
    background-color: lightgray; 
   }
   blockquote {
    float: right;
    width: 275 px;
    font-style: italic;
    margin: 0px, 0px, 10px 10px;
    padding: 10px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.topTitle {
    font-family: 'Tangerine', cursive;
    font-size: 50px;
    margin: 0px, 0px, 0px 0px;
}

body, html {
    height: 100%;
}

.hero-image {
  
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)), url("salmon1.jpeg");
    height: 50%;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: .9;
    
}
/* Places text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-family: 'Cinzel', serif;
}

section {
    text-align: left;
    width: 100%;
    align-content: center;
    border: 1px solid black;
}
